$breakpoint-tablet: 750px !default;
$breakpoint-desktop: 990px !default;
$breakpoint-desktop-medium: 1200px !default;
$breakpoint-desktop-large: 1440px !default;
$breakpoint-phone-max: ($breakpoint-tablet - 1) !default;
$breakpoint-tablet-max: ($breakpoint-desktop - 1) !default;
$breakpoint-desktop-max: ($breakpoint-desktop-medium - 1) !default;
$breakpoint-desktop-medium-max: ($breakpoint-desktop-large - 1) !default;

$font-heading: 'GT Super Display';
$font-body: 'Aeonik';
$font-body-2: 'NeueHaasUnicaW06-Light';

$color-text: #060606;
$color-black: #000;
$color-white: #fff;
$color-2: #F3B092;
$color-3: #F2ECD6;
$color-4: #EBACCE;
$color-5: #D6DF2B;
$border-color: #e5e5e5;
